## Special files
stat154.pdf
latex/project.pdf
latex/project.tex
latex/cache
*Tmp*
dataset/spamResults
dataset/phonemeResults


## General
*.swp
*.dat
## Core latex/pdflatex auxiliary files:
*.aux
*.brf
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.tdo
*.bbl
*.blg

